{{#each posts as |post| }}
  <div class="post-list post-boxes">
    <h2 id="homepage-header">
      <a href="/post/{{id}}">{{title}}</a> 
      <p>Created by {{user.username}} on {{format_date}}</p>
    </h2>
    <p id="content-bg">{{content}}</p>
  </div>
{{/each}}

