<main class="container mt-5">
  <article>
    <h1>{{post.title}}</h1>
    <p>Created by: {{post.user.username}} | Date: {{format_date createdAt}}</p>
    <p>{{post.content}}</p>
  </article>
    <form class="new-comment-form" class="mb-3">
      <div class="mb-3">
        <label for="comment" class="form-label">Add Comment:</label>
        <textarea
          class="form-control"
          id="new-comment-form"
          rows="3"
          placeholder="Add a comment..."
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  <h2>Comment History:</h2>
{{#each post.comments as |comment|}}
    <div class=“comment mb-3”>
      <p>{{comment.content}}</p>
      <p>By {{user.username}} on {{format_date createdAt}}</p>
    </div>
  {{/each}}
</main>

