<main class="container mt-5">
  <article class="post-list post-boxes">
    <h2 class="homepage-header">{{post.title}}
    <p>Created by: {{post.user.username}} | Date: {{format_date post.createdAt}}</p>
    </h2>
    <p>{{post.content}}</p>
  </article>
    <form class="new-comment-form" class="mb-3">
      <div class="mb-3">
        <textarea
          class="form-control"
          id="new-comment-form"
          rows="3"
          placeholder="Add a comment..."
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  <h2>Comment History:</h2>
{{#each post.comments }}
    <div class="comment-history m-2 p-1">
      <p>{{content}}</p>
      <p>By {{user.username}} on {{format_date createdAt}}</p>
    </div>
  {{/each}}
</main>

